
@font-face {
  font-family: 'Garamond';
  src: local('Garamond'), url(./fonts/Garamond.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Arsenal';
  src: local('Arsenal'), url(./fonts/Arsenal.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
